<button class="btn m-4" (click)="goback()">Go Back</button>
<div class="main">
  <div class="card  text-black">
    <h4>Parcel Details</h4>
  <h3>Parcel Name:<span> Documents</span></h3>
  <h3>Sent From: <span>Darragh Merritt</span></h3>
  <h3>Sent To:<span> Bree Iles</span></h3>
  <h3>Date Sent:<span>5/7/2022</span> </h3>
  <h3>Truck No: <span>KDE 511Y</span></h3>
  <h3>Adress:  <span>Nairobi, Moi Ave.</span></h3>
  <h3>Status:  <span>Pending</span></h3>
  <h3> Update Status: <button class="button">Delivered</button></h3>
  </div>
  <div class="map m-2">
    <h2 class="text-black text-center">Track Parcel</h2>
    <google-maps></google-maps>
  </div>
</div>

