<div class="main">
  <div class="top">
    <img src="https://static.wixstatic.com/media/11062b_247d676494404df0839f870204c1ab37~mv2.jpg/v1/fill/w_1891,h_1359,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/11062b_247d676494404df0839f870204c1ab37~mv2.jpg" />
  </div>
  <div class="signup">
    <div class="left">
      <h3 class="text-black m-3">Login Here</h3>
      <form #form="ngForm" (ngSubmit)="onSubmit()">
       <div>
        <app-error *ngIf="logged" [message]=error (close)="onClose()"></app-error>
        <!-- <p *ngIf="logged" class="p">Empty Fields!!</p> -->
        <label class="form-label" for="registerName">*Email:</label>
        <input type="text" ngModel name="Senderemail" class="form-control"/>
      </div>
      <div >
        <label class="form-label" for="registerName">*Password:</label>
        <input type="password" id="registerName" ngModel name="Password" class="form-control"/>
      </div>
      <button class="btn btn-dark m-4" type="submit">Login</button>
      </form>

    </div>
    <div class="right">
      <h3 class="text-black m-3">Welcome Back</h3>
    <div class="paragraph">
      <p>To be connected with us, please login with your personal info</p>
    </div>
    <div class="bottom">
      <p>Don't have an account?</p>
      <div class="btn button" (click)="onsignup()">SignUp</div>
    </div>
    </div>
  </div>
</div>
