<div class="main">
<form [formGroup]="addForms" (ngSubmit)="onadd()">
<label class="image-upload-container btn btn-bwm">
  <span>Select Image</span>
  <input #imageInput
         type="file"
         accept="image/*"
         (change)="processFile(imageInput)" formControlName="image">
         <label>Bio</label>

</label>
<button type="submit" class="btn btn-info">Add</button>
</form>

<div class="display" *ngFor="let item of profile">
  <img [src]=item.image/>
  <p>{{item.Bio}}</p>

</div>
</div>


