<div class="main">
  <!-- <app-header></app-header> -->
  <div class="left">
    <div class="sent m-4">
    <table>
      <h3 class=" text-black">Parcels Sent</h3>
      <tr>
      <th>Tracking No.</th>
      <th>Parcel Name</th>
      <th>Details</th>

    </tr>
      <tr>
        <td>65774905</td>
        <td>Certificates</td>
        <td><button class="button" (click)="onview()" >View</button></td>
      </tr>
      <tr>
        <td>65774905</td>
        <td>Certificates</td>
        <td><button class="button" >View</button></td>
      </tr>
    </table>
  </div>
  <div class="received m-4">
    <table>
      <h3 class="text-black">Parcels Received</h3>
      <tr>
      <th>Tracking No.</th>
      <th>Parcel Name</th>
      <th>Details</th>

    </tr>
      <tr>
        <td>65774905</td>
        <td>Certificates</td>
        <td><button class="button" >View</button></td>
      </tr>
      <tr>
        <td>65774905</td>
        <td>Certificates</td>
        <td><button class="button" >View</button></td>
      </tr>
    </table>
  </div>
  </div>
  <div class="right">
<input placeholder="Enter Parcel weight"/>
<button class="btn">Get Quote</button>
  </div>
</div>
