.main{
  display: flex;
  height: 150vh;
  justify-content: space-between;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70vw;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 10px;
}

tr:nth-child(even) {
  background-color: rgb(252, 229, 186);
}
h3{
  font-weight: 600;
}
.button{
  background-color: #F68B1E;
  height: 20px;
  width: 65px;
  border: none;
  border-radius: 5px;
  /* font-size: 12px; */
  font-weight: 400;
}
input{
background-color: rgb(255, 252, 248);
border: none;
border:1px solid black;
border-radius: 8px;
}
.btn{
  background-color:#F68B1E ;
  margin-left: 5px;
  height: 28px;
  text-transform: lowercase;
  padding:0;
  width:100px
}
.right{
  margin-top: 6%;
}
button{
  margin: 5px;
  border: none;
}
.receivednotify{
  background-color: black;
  height:auto;
  width:150px;
  color:white;
  display: flex;
  align-items: center;
  font-size: 10px;
}
.notify{
  position: fixed;
  overflow-y: scroll;
  position: absolute;
  right: 0;
}
.check{
display:flex;
}
.view{
  color: #F68B1E;
  font-size: 30px;
}
ion-icon{
  color: red;
  font-size: 25px;
}
ion-icon:hover{
  color: black;
  font-size: 30px;
}
@media screen and (max-width: 500px){
  .main{
    display: flex;
    flex-direction: column;
  }

}
@media screen and (max-width: 376px){
  .remove,.notify{
    display: none;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 11px;
  }
}
@media screen and (max-width: 415px){
  .remove,.notify{
    display: none;
  }
}
@media screen and (max-width: 821px){

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 12px;
  }
  table{
    width: 60vh;
  }
}
@media screen and (max-width: 914px){

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 25px;
  }
}
@media screen and (max-width: 541px){
  .remove{
    display: none;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 22px;
  }
}
/* /* @media screen and (max-width: 1025]px){

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 25px;
  }
} */
@media screen and (max-width: 281px){
  .remove{
    display: none;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    font-size: 9px;
  }
}


