<div class="main">
  <div class="left">
<div class="buttons ">
  <button class="btn m-4" (click)="onCreate()">Create request</button>
</div>
  </div>
  <div class="right">
    <input placeholder="Search by name" class="m-2" [(ngModel)]="filter">
    <h3 class="text-black"> All Parcels</h3>
    <table *ngIf="parcels$| async  as parcels">
      <tr>
      <th>Destination</th>
      <th>Tracking No.</th>
      <th>Parcel Name</th>
      <th>Truck No.</th>
      <th>Weight</th>
      <th>Status</th>
      <th>Date</th>
      <th>Details</th>
    </tr>
      <tr *ngFor="let parcel of parcels |search:filter">
        <td>{{parcel.Adress}}</td>
        <td>{{parcel.Tracking}}</td>
        <td>{{parcel.Parcelname}}</td>
        <td>{{parcel.TruckNo}}</td>
        <td>{{parcel.Weight}}</td>
        <td>{{parcel.Status}}</td>
        <td>{{parcel.Date}}</td>
        <td><button class="button" (click)="onview(parcel.id)">View</button></td>
    </table>
  </div>
</div>
