.main{
  display:flex;
  gap: 5%;
  flex-wrap: wrap;
  height:100vh;
  width: 100%;
}
.left{
  width:200px;
  height:auto;
  background-color: #F68B1E;
  height:100vh;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width:  50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 9px;
  font-size: 9px;
}

tr:nth-child(even) {
  background-color: rgb(252, 229, 186);
}
h3{
  height:40px;
  font-size: 15px;
  width:100%;
  text-align: center;
  align-items: center;
  padding-top: 7%;
}
h3:hover{
  background-color: white;
  color: black;
}
.btn{
  background-color: black;
  color: white;
}
.right{
  display: flex;
  flex-direction: column;
}
.extra{
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  /* justify-content: center; */
  display: none;

}
/* .buttons{
  display: flex;
  gap: 3%;
} */
.card{
  height: auto;
  width: 250px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px black;
  margin-bottom: 3%;
  padding:  3%;
  /* gap: 3%; */
  }
  p{
    font-size: 15px;
  }
  ion-icon{
    font-size: 25px;
    color: #F68B1E;
  }
  ion-icon:hover{
    color:black
  }
@media screen and (max-width: 1000px){
  .left{
    width:100%;
    height:auto;
  }
  .main{
    display: flex;
    flex-direction: column;
  }
  .right{
    width:100%;
    display: flex;
    flex-wrap: wrap;
  }
  table{
    width:60vh;
    font-size: 10px;
  }
/* .new{
  display: none;
} */
.button{
  background-color:#F68B1E;
  height: 20px;
  width: 30px;
  font-size: 8px;
  border: none;
  border-radius: 5px;
 }
 input{
  width: 40vw;
 }

}
