<div class="main">

  <div class="top">
    <img
      src="https://static.wixstatic.com/media/11062b_d2d01247fc75405591814403f1351673~mv2.jpg/v1/fill/w_2101,h_721,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_d2d01247fc75405591814403f1351673~mv2.jpg"
    />
    <div class="innertext">
      <h1>Your Reliable Delivery Service</h1>
      <div class="paragraph">
        <p>
          Send and receive parcels from all overservice. the coutry with your
          reliable parcel delivery We deliver your parcels on time and we have a
          safety protocol or our parcels
        </p>
        <button class="btn" (click)="getstarted()">Get Started</button>
      </div>
    </div>
  </div>

  <div class="all" id="services">
    <h2>Our Services</h2>
    <div class="middle d-flex">
      <div class="one">
        <img class="img " src="https://th.bing.com/th?q=Profile+Face+Drawing&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.89&pid=InlineBlock&mkt=en-WW&cc=KE&setlang=en&adlt=moderate&t=1&mw=247"/>
        <h5>Parcel Delivery</h5>
        <p>
          Describe your service here. What makes it great? Use short catchy text
          to tell people what you offer, and the benefits they will receive.
        </p>
      </div>
      <div class="two">
        <img class="img" src="https://th.bing.com/th?q=Profile+Face+Drawing&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.89&pid=InlineBlock&mkt=en-WW&cc=KE&setlang=en&adlt=moderate&t=1&mw=247"/>
        <h5>Storage Services</h5>
        <p>
          Describe your service here. What makes it great? Use short catchy text
          to tell people what you offer, and the benefits they will receive.
        </p>
      </div>
      <div class="three">
        <img class="img" src="https://th.bing.com/th?q=Profile+Face+Drawing&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.89&pid=InlineBlock&mkt=en-WW&cc=KE&setlang=en&adlt=moderate&t=1&mw=247"/>
        <h5>Packaging</h5>
        <p>
          Describe your service here. What makes it great? Use short catchy text
          to tell people what you offer, and the benefits they will receive.
        </p>
      </div>
    </div>
  </div>
  <div class="delivery">
    <h2>Delivery steps</h2>
    <div class="steps-container">
      <div class="steps">
        <div class="align"><span class="dot">1</span></div>
        <h6>Make a request</h6>
        <div class="align"><span class="dot">2</span></div>
        <h6>Pay</h6>
        <div class="align"><span class="dot">3</span></div>
        <h6>Delivered</h6>
        <div class="align"><span class="dot">4</span></div>
        <h6>Received</h6>
        <div class="align"><span class="dot">5</span></div>
      </div>
    </div>
  </div>
  <div class="customers">

    <!-- Carousel wrapper -->
    <!-- Carousel wrapper -->
<div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark" data-mdb-ride="carousel">
  <h2 class="mt-4">Our clients say</h2>
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button
      data-mdb-target="#carouselLightVariant"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      data-mdb-target="#carouselLightVariant"
      data-mdb-slide-to="1"
      aria-label="Slide 1"
    ></button>
    <button
      data-mdb-target="#carouselLightVariant"
      data-mdb-slide-to="2"
      aria-label="Slide 1"
    ></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="carousel-caption d-flex ">
        <div class="one">
          <img class="img" src="https://th.bing.com/th?q=Profile+Face+Drawing&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.89&pid=InlineBlock&mkt=en-WW&cc=KE&setlang=en&adlt=moderate&t=1&mw=247"/>
          <p class="text-white">First name</p>
        </div>
        <div class="two">
          <h5 class="text-white">First slide label</h5>
        <p class="text-white">Nulla vitae elit libero, a pharetra augue mollis interdum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum rem velit optio rerum repellat laboriosam cupiditate</p>
        </div>

      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="carousel-caption d-flex">
        <div class="one">
          <img class="img"src="https://th.bing.com/th?q=Profile+Logo&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.89&pid=InlineBlock&mkt=en-WW&cc=KE&setlang=en&adlt=moderate&t=1&mw=247"/>
          <p class="text-white">Second Name</p>
        </div>
        <div class="two">
          <h5 class="text-white">Second slide label</h5>
          <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officiis distinctio cumque optio odit. Repellendus, pariatur blanditiis.</p>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="carousel-caption d-flex">
        <div class="one">
          <img class="img" src="https://th.bing.com/th?q=Profile+View&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.89&pid=InlineBlock&mkt=en-WW&cc=KE&setlang=en&adlt=moderate&t=1&mw=247"/>
          <p class="text-white">Second Name</p>
        </div>
        <div class="two">
          <h5 class="text-white">Third slide label</h5>
        <p class="text-white">Praesent commodo cursus magna, vel scelerisque nisl consectetur. Lorem, ipsum dolor sit amet  iste blanditiis velit fuga in id numquam.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->
  </div>
</div>
