<h3 class="text-black text-center">Request Form</h3>
<form class="main m-4">
  <div class="left">
  <div>
    <label class="form-label" for="form8Example1">Sender email</label>
    <input type="email" id="form8Example1" class="form-control "/>
  </div>
  <div>
    <label class="form-label" for="form8Example1">Recipient email</label>
    <input type="email" id="form8Example1" class="form-control"/>
  </div>
  <div>
    <label class="form-label" for="form8Example1">Parcel Name</label>
    <input type="text" id="form8Example1" class="form-control"/>
  </div>
  <div>
    <label class="form-label" for="form8Example1">Parcel Details</label>
    <input type="text" id="form8Example1" class="form-control"/>
  </div>
  <div>
    <label class="form-label" for="form8Example1">Delivery Adress</label>
    <input type="text" id="form8Example1" class="form-control"/>
  </div>
  </div>
  <div class="right">
    <div>
      <label class="form-label" for="form8Example1">Weight</label>
      <input type="text" id="form8Example1" class="form-control"/>
    </div>
    <div>
      <label class="form-label" for="form8Example1">Date</label>
      <input type="date" id="form8Example1" class="form-control"/>
    </div>
    <div>
      <label class="form-label" for="form8Example1">Truck No.</label>
      <input type="text" id="form8Example1" class="form-control"/>
    </div>
    <div>
      <label class="form-label" for="form8Example1">Tracking No.</label>
      <input type="text" id="form8Example1" class="form-control"/>
    </div>
    <div>
    <button class="btn m-3" type="submit" (click)="onsubmit()">Submit</button>
    </div>
  </div>

</form>
