.main{
  display: flex;
  justify-content: center;
  gap:10%;

}
.mains{
  height: 100vh;
}
.request{
  margin-top: 5%;
}
.form{
  display: flex;
}
.form-label{
  color: black;
}
button{
  background-color: #F68B1E;
  color: black;
  text-transform: lowercase;
}
.form-control{
  background-color: blanchedalmond;
  border: none;
  border-radius: 8px;
}
p{
  color:red;
  text-align: center;
}
input.ng-invalid.ng-touched{
  border-left:5px solid red ;
}
input.ng-valid.ng-touched{
  border-left:5px solid green ;
}
