<div class="mains">
<h3 class="text-black text-center request" *ngIf="isAddMode">Request Form</h3>

<h3 class="text-black text-center request" *ngIf="!isAddMode"> Edit Request Form</h3>
<!-- <p *ngIf="!regSuccess">Inputs Required</p> -->
<app-error *ngIf="!regSuccess" [message]=error (close)="onClose()"></app-error>
<form class="main m-4" [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="left">
    <div>
      <label class="form-label" for="form8Example1">Delivery Adress</label>
      <input ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" formControlName="Adress" class="form-control"/>
      <p *ngIf="!addForm.get('Adress')!.valid && addForm.get('Adress')!.touched">
        Input required
       </p>
    </div>
  <div>
    <label class="form-label" for="form8Example1">Sender email</label><br>
    <select formControlName="Senderemail" class="form-control">
      <option *ngFor="let item of user$ | async" value={{item.Senderemail}} >{{item.Senderemail}}</option>
    </select>
    <p *ngIf="!addForm.get('Senderemail')!.valid && addForm.get('Senderemail')!.touched">
     Input required
    </p>
  </div>
  <div>
    <label class="form-label" for="form8Example1">Recipient email</label>
    <input type="email" formControlName="RecepientEmail"class="form-control" />
    <p *ngIf="!addForm.get('RecepientEmail')!.valid && addForm.get('RecepientEmail')!.touched">
      Input required
     </p>
  </div>
  <div>
    <label class="form-label" for="form8Example1">Parcel Name</label>
    <input type="text" id="form8Example1" class="form-control" formControlName="parcelname"/>
    <p *ngIf="!addForm.get('parcelname')!.valid && addForm.get('parcelname')!.touched">
      Input required
     </p>
  </div>
  <div>
    <label class="form-label" for="form8Example1">Weight</label>
    <input type="number" id="form8Example1" class="form-control" formControlName="weight"/>
    <p *ngIf="!addForm.get('weight')!.valid && addForm.get('weight')!.touched">
      Input required
     </p>
  </div>
  </div>
  <div class="right">
    <div>
      <label class="form-label" for="form8Example1">Date</label>
      <input type="date" id="form8Example1" class="form-control" formControlName="Date"/>
      <p *ngIf="!addForm.get('Date')!.valid && addForm.get('Date')!.touched">
        Input required
       </p>
    </div>
    <div>
      <label class="form-label" for="form8Example1">Truck No.</label>
      <input type="text" id="form8Example1" class="form-control" formControlName="TruckNo"/>
      <p *ngIf="!addForm.get('TruckNo')!.valid && addForm.get('TruckNo')!.touched">
        Input required
       </p>
    </div>
    <div>
      <label class="form-label" for="form8Example1">Tracking No.</label>
      <input type="number" id="form8Example1" class="form-control" formControlName="TrackingNo"/>
      <p *ngIf="!addForm.get('TrackingNo')!.valid && addForm.get('TrackingNo')!.touched">
        Input required
       </p>
    </div>
    <div>
      <label class="form-label" for="form8Example1">Price.</label>
      <input type="number" id="form8Example1" class="form-control" formControlName="Price"/>
      <p *ngIf="!addForm.get('Price')!.valid && addForm.get('Price')!.touched">
        Input required
       </p>
    </div>
    <div>
    <button class="btn m-3" type="submit" type="submit" >Create</button>
      </div>
  </div>

</form>
</div>
