<footer class=" text-center  text-white">


  <div class="container p-4 pb-0 d-flex">
    <p>Logo</p>

    <section class="mb-4 last d-flex">
      <div class="adress">
        <p>Nairobi, Heile Selassie, SendIT House</p>
      </div>
      <div class="contact">
        <p>Contact us:</p>
        <p>sendint@info.com</p>
      </div>

    <div>
        <h3>Find Us:</h3>
        <div class="icons d-flex ">
     <a class="btn btn-outline-light btn-floating m-1 " href="https://www.facebook.com/" target="_blank" role="button"
     ><i class="fab fa-facebook-f social" ></i
   ></a>

   <!-- Twitter -->
   <a class="btn btn-outline-light btn-floating m-1" href="" role="button"
     ><i class="fab fa-twitter social"></i
   ></a>

   <!-- Google -->
   <a class="btn btn-outline-light btn-floating m-1" href="http://www.google.com/" role="button"
     ><i class="fab fa-google social"></i
   ></a>

   <!-- Instagram -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
     ><i class="fab fa-instagram social"></i
   ></a>

   <!-- Linkedin -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
     ><i class="fab fa-linkedin-in social"></i
   ></a>
  </div>
  </div>

    </section>

  </div>
  <div class="text-center p-3" >
    © 2022 Copyright:
    <a class="text-white" href="">Go-care cliniq.com</a>
  </div>
</footer>

