.d-flex{
 gap: 10%;
}
footer{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 900px){
  .social{
    display: none;
  }
  .contact{
    display: none;
  }
  footer{
    display: flex;
    flex-wrap: wrap;
  }
}

